
/ {
    aliases {
            camsense-uart-1 = &usart1;
            spi-as5047p = &spi1;
            spi-display = &spi2;
    };

};

&usart1 {
    status = "okay";
    current-speed = < 115200 >;
};

&usart2 {
    status = "okay";
    current-speed = < 115200 >;
};

&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>, <&gpioa 15 GPIO_ACTIVE_LOW>;

    as5047p_l: spi-dev-as4047p-l@0 {
        label = "AS5047P_L";
        reg = <0>;
        spi-max-frequency = <10000000>;
    };
    as5047p_r: spi-dev-as504p-r@1 {
        label = "AS5047P_R";
        reg = <1>;
        spi-max-frequency = <10000000>;
    };
};

&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
    cs-gpios = <&gpiob 2 GPIO_ACTIVE_LOW>;

    display_l: spi-dev-display@0 {
        label = "DISPLAY";
        reg = <0>;
        spi-max-frequency = <200000>;
    };
};

&timers2
{
    status = "okay";

	pwms_motors: pwm_0 {
		compatible = "st,stm32-pwm";
		status = "okay";
		st,prescaler = <0>;
		label = "PWMS_MOTORS";
		pinctrl-0 = <&tim2_ch1_pa0 &tim2_ch2_pb3> ;
		#pwm-cells = <3>;
	};
};

&timers3
{
    status = "okay";

	pwms_servos: pwm_3 {
		compatible = "st,stm32-pwm";
		status = "okay";
		st,prescaler = <10000>;
		label = "PWMS_SERVOS";
		pinctrl-0 = <&tim3_ch1_pb4 &tim3_ch2_pb5 &tim3_ch3_pb0 &tim3_ch4_pb1> ; // ou tim3_ch3_pc8 et tim3_ch4_pc9
		#pwm-cells = <3>;
	};
};