/ {
    aliases {
            camsense-uart-1 = &usart1;
    };

    soc {

    };
};

&usart1 {
        status = "okay";
        current-speed = < 115200 >;
};

&usart2 {
        current-speed = < 115200 >;
};
